@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fira Sans";
  src: url("/fonts/Fira_Sans/FiraSans-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#app {
  width: 100% !important;
  height: 100% !important;
}